.title {
  margin-bottom: 40px;
  margin-left: 15px;
}

.main {
  display: flex;
  justify-content: space-between;
}

.info {
  margin-bottom: 5px;
  text-align: justify;
  text-indent: 30px;
}

.second_block {
  margin-bottom: 15px;
  margin-left: 15px;
}

.org_info {
  padding: 10px;
  border: 1px solid;
  border-radius: 20px;
  width: 45%;
  color: black;
}

.orgData {
  padding: 5px;
}

.text_block {
  background-color: rgb(255, 255, 255);
  width: 45%;
  padding: 15px;
  border-radius: 20px;
}

.date {
  margin-top: 40px;
  display: flex;
}

.btn {
  margin-left: 50px;
}

.answer {
  margin-left: 22%;
  padding: 15px;
  font-size: medium;
  font-weight: 300;
  background-color: rgb(9, 180, 9);
  border: none;
  border-radius: 20px;
  color: aliceblue;
  cursor: pointer;
}

.edit {
  margin-left: 10%;
  padding: 15px;
  font-size: medium;
  font-weight: 300;
  background-color: rgb(74, 108, 244);
  border: none;
  border-radius: 20px;
  color: aliceblue;
  cursor: pointer;
}

.delete {
  margin-left: 10%;
  padding: 15px;
  font-size: medium;
  font-weight: 300;
  background-color: rgb(233, 48, 48);
  border: none;
  border-radius: 20px;
  color: aliceblue;
  cursor: pointer;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  font-size: xx-large;
  font-weight: 500;
}

.date_time {
  margin-bottom: 3px;
}
