.mainpg {
  margin-left: -120px;
  margin-top: -80px;
}

.firstbaner {
  display: flex;
  justify-content: space-between;
  padding-top: 80px;
  padding-bottom: 80px;
  margin-bottom: 50px;
  background: #ffffff;
  width: 1519px;
}

.announc {
  margin: 80px 119.6px;
}

.list {
  width: 60%;
}

.txt {
  position: relative;
  margin: auto;
  text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 3s linear infinite;
  display: inline-block;
  font-size: 190px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.arrow-7 {
  position: absolute;
  top: 85vh;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 38px;
  height: 100px;
}
.arrow-7 span {
  display: block;
  width: 30px;
  height: 30px;
  border-bottom: 5px solid #337ab7;
  border-right: 5px solid #337ab7;
  transform: rotate(45deg);
  margin: -16px 0;
  animation: arrow-7 2s infinite;
}
.arrow-7 span:nth-child(2) {
  animation-delay: -0.2s;
}
.arrow-7 span:nth-child(3) {
  animation-delay: -0.4s;
}
@keyframes arrow-7 {
  0% {
    opacity: 0;
    transform: translate(0, -20px) rotate(45deg);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(0, 20px) rotate(45deg);
  }
}

.maintxt {
  font-weight: 800;
  font-size: xx-large;
  margin-bottom: 10px;
}

.secondtxt {
  font-weight: 500;
  font-size: large;
  margin-top: 10px;
}

.baner {
  width: 40%;
}

.summary {
  margin-top: 15px;
  text-indent: 30px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  line-height: 1.3em;
}

.open {
  margin-top: 15px;
  margin-left: 15px;
  margin-bottom: 50px;
  padding: 10px 20px;
  font-size: medium;
  font-weight: 300;
  background-color: rgb(9, 180, 9);
  border: none;
  border-radius: 20px;
  color: aliceblue;
  cursor: pointer;
}
