.completChange {
  display: flex;
}

.completed {
  margin-left: 10px;
  font-weight: 500;
  color: rgb(114, 114, 114);
  text-decoration: none;
  cursor: pointer;
  transition: color, text-decoration;
}

.completed:hover,
.completed.active {
  padding: 10px;
  color: black;
  text-decoration: underline;
  background-color: rgb(198, 198, 198);
  border: none;
  border-radius: 20px;
}
