{% extends 'base.html' %}

{% block content %}

    <h1>Сервис благотворительности для ресторанов</h1>
    <p>Данный сервис предначначен для ресторанов, которые готовы пожертвовать продукты питания благотворительным организациям.
    Многие продукты выкидаваются, потому что из них не успевают ничего приготовить. Это вредит экологии нашей планеты.
    Чтобы сократить количество мусора и помочь нуждающимся, воспользуйтесь данным сервисом!</p>

    {% if list_of_helps %}
               {% for i in help_list %}
                    <a href="{% url 'help' i.id %}">{{i.title}}</a>
               {% endfor %}
    {% endif %}

{% endblock %}
